<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title>CodeCheckerWeb</title>
</head>

<body>
<div th:insert="header :: myheader"></div>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Description</th>
							<th>Score</th>
							<th>Info</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.id}"></td>
							<td th:text="${task.name}"></td>
							<td style="max-width: 500px;" th:text="${task.description}"></td>
							<td th:text="${task.getScore()}"></td>
							<td th:text="${task.info}"></td>
							<td>
								<a th:href="@{/solve/}+${task.id}" class="btn btn-success">Solve</a>
								<a th:href="@{/edit/}+${task.id}" class="btn btn-warning">Edit</a>
								<a th:onclick="deletion([[${task.id}]])" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
				

	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="functions.js"></script>
	<div th:insert="footer :: myfooter"></div>
</body>
</html>