<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<title>CodeCheckerWeb</title>
</head>

<body>
	<!--   -->
	<div class="container mt-4">
		<div class="card border-info">
			<div class="card-header" bg-info text-white>
				<a class="btn btn-primary" th:href="@{/new}">New task</a> <a
					class="btn btn-primary" th:href="@{/logout}">Logout</a> <a
					th:href="@{/info}" style="float: right">Code Checker Web 1.02
					BETA</a>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>

							<th>Description</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task:${tasks}">
							<td th:text="${task.id}"></td>
							<td th:text="${task.name}"></td>
							<td th:text="${task.description}" style="max-width: 500px;"></td>
							<td><a th:href="@{/solve/}+${task.id}" class="btn btn-success">Solve</a>
								<a th:href="@{/edit/}+${task.id}" class="btn btn-warning">Edit</a>
								<a th:onclick="deletion([[${task.id}]])" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="functions.js"></script>
</body>
</html>