<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<title>CodeCheckerWeb</title>
</head>
<body>
<div th:insert="header :: myheader"></div>
	<div class="container mt-4" col-lg-4>
		<div class="card border-info">
			<div class="card-header" bg-info>
				<h4 th:text="${task.get().getName()}"></h4>
			</div>
			<div class="card-body">
				<h5>Description</h5>
				<p th:text="${task.get().getDescription()}"></p>
 				<form th:action="@{/solve}" th:object=${solution} method="POST">
					​	
     						<input th:field="*{usr}" type="hidden" name="ui"
						class="form-control" readonly >  
						
							<input th:field="*{tsk}" type="hidden" name="ti"
						class="form-control" readonly >    
						
 					<textarea id="answerfield" th:field="*{answer}" rows="10" cols="70" type="text" name="ans"
						class="form-control"></textarea>
					
					<div th:if="${param.error}">
						<div th:text="${server_message}" class="alert alert-danger"></div>
					</div>
					
					<div th:if="${param.feedback}">
						<div th:text="${server_message}" class="alert alert-info"></div>
					</div>
					
					<div id="compiler_info" class="alert alert-info"></div>
					
						
						<br></br> <input type="submit" value="Solve"
						class="btn btn-success"> <a th:href="@{/}">Back</a>

				</form> 
			</div>
			
							<table class="table table-hover">
					<thead>
						<tr>
							<th>Score</th>
							<th>Info</th>
							<th>Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="solution:${solutions}">
							<td th:text="${solution.score}"></td>
							<td style="max-width: 500px" th:text="${solution.info}"></td>
							<td th:text="${solution.date}"></td>
							<td>
								<a th:attr="onclick=|switchTo('${solution.id}')|"  class="btn btn-success">Show</a>
								<a th:href="@{/deleteSolution/}+${solution.id}" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
		</div>
	</div>
	<div th:insert="footer :: myfooter"></div>
</body>

<script th:inline="javascript">
/*<![CDATA[*/
	var textfield_code = /*[[${textfield_code}]]*/ 'default';
	
	if (textfield_code !== null){
		document.getElementById("answerfield").value = textfield_code;
	}
	
	document.getElementById("compiler_info").style.visibility='hidden';
	
    var solutions = /*[[${somearraylist}]]*/ 'default';
    
    function switchTo(id) {
    	document.getElementById("compiler_info").style.visibility='hidden';
    		
    	var i;
    	for (i = 0; i < solutions.length; i++) {
    	  if(solutions[i][0]==id){
    		  document.getElementById("answerfield").value = solutions[i][1];
    		  var info = solutions[i][2];
    		  
    		  document.getElementById("compiler_info").style.visibility='visible';
    		  var classes = document.getElementById("compiler_info").classList;
    		  
    		  var k;
    		  for (k = 0; k < classes.length; k++) {
    			  document.getElementById("compiler_info").classList.remove(classes[k]);
    		  }
    		  
    		  document.getElementById("compiler_info").classList.add('alert');
    		  
    		  if(info.includes("err")){
        		  document.getElementById("compiler_info").classList.add('alert-danger');
    		  }else{
    			  document.getElementById("compiler_info").classList.add('alert-info');
    		  }
    		  
    		  document.getElementById("compiler_info").innerHTML = info;
  
    	  }
    	}
    }
    
    
/*]]>*/
</script>
</html>