<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<title>CodeCheckerWeb</title>
</head>
<body>
	<div class="container mt-4" col-lg-4>
		<div class="card border-info">
			<div class="card-header" bg-info>
				<h4 th:text="${task.get().getName()}"></h4>
			</div>
			<div class="card-body">
				<h5>Description</h5>
				<p th:text="${task.get().getDescription()}"></p>
				<form th:action="@{/solve}" th:object=${solution} method="POST">
					​
					<!-- 					<textarea  id="codearea" rows="10" cols="70" name="user_code"
						class="form-control">the code is here TODO solution black magic</textarea> -->
					<input th:field="*{answer}" type="text" name="name"
						class="form-control">
						
						 <label>compiler feedback is
						here lol</label> <br></br> <input type="submit" value="Solve"
						class="btn btn-success"> <a href="/">Back</a>

				</form>
			</div>
		</div>
	</div>
</body>
</html>